<!DOCTYPE html>
<html>
    <head>
        <!-- Required Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="metro4:init" content="true">

        <!-- Metro 4 CSS -->
        <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">

        <!-- Google Icon Font -->
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="https://www.safra.com.br/lumis-theme/br/com/bancosafra/safranet/theme/safranet/assets/img/fav/favicon.ico">

        <!-- Title -->
        <title>Safra Open :: Investimentos</title>

    </head>
    <style>
        .sidebar-menu li a {            
            text-transform: none!important;            
        }
        .fg-blue-safra{
            color: #1E2044!important;
        }
        .bd-blue-safra{
            border-color: #1E2044!important;
        }
        .bg-blue-safra{
            background-color: #1E2044!important;
        }
        .fg-gold-safra{
            color: #D4AD68!important;
        }
        .bd-gold-safra{
            border-color: #D4AD68!important;
        }
        .bg-gold-safra{
            background-color: #D4AD68!important;
        }

        .sidebar.on-left.open.sidebar-shadow, .sidebar.on-left.static.sidebar-shadow {
            -webkit-box-shadow: 1px 0 0 0 rgba(0,0,0,.15);
            box-shadow: 1px 0 0 0 rgba(0,0,0,.15);
        }
        .z-depth-4 {
            -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
            box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
        }
        .z-depth-16, .open {
            -webkit-box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12)!important;
            box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12)!important;
        }
        @media screen and (max-width: 600px) {
            .icon-sidebar {
                visibility: hidden;            
            }
            aside.open {
                width: -webkit-fill-available!important;
            }
        }
        .z-0 {
            z-index: 0!important;
        }
        /* Scrollbar Customize */
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }
        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

    </style>
    <body style="background-color: #f8f8f8;">

        <aside class="sidebar pos-fixed z-2" data-role="sidebar" data-toggle="#sidebar-toggle-3" id="sb3" data-on-open="hiddenIconMenu()" data-on-close="showIconMenu()" data-shift=".shifted-content">
            <div class="sidebar-header bg-light">
                <a href="/" class="fg-darkGray sub-action z-3" onclick="Metro.sidebar.close('#sb3'); return false;"><span class="mif-cross-light"></span></a>                
                <div class="d-flex flex-column flex-justify-center flex-align-center h-100">
                    <div class="avatar">
                        <img src="http://127.0.0.1/safra-open/assets/mark2.jpg" width="60" height="60" style="border-radius: 50%;">                        
                    </div>
                    <span class="title fg-darkGray">Olá, <b>Mark Z. da Silva</b></span>
                    <span class="subtitle text-muted">
                        
                        <span>123.456.789-01233</span>
                    </span>
                </div>
                
            </div>
            <ul class="sidebar-menu">
                <li>
                    <a href="home" class="d-flex flex-align-center flex-justify-between">
                        <span class="fg-blue-safra">
                            <span class="material-icons icon">account_balance</span>
                            <span>Início</span>
                        </span>                        
                        <span class="mif-chevron-right icon-sidebar fg-gold-safra pr-4"></span>
                    </a>                     
                </li>
                <li>
                    <a href="investment" class="d-flex flex-align-center flex-justify-between">
                        <span class="fg-blue-safra">
                            <span class="material-icons icon">trending_up</span>
                            <span>Minha carteira</span>
                        </span>                        
                        <span class="mif-chevron-right icon-sidebar fg-gold-safra pr-4"></span>
                    </a>                     
                </li>
                <li>
                    <a href="play" class="d-flex flex-align-center flex-justify-between">
                        <span class="fg-blue-safra">
                            <span class="material-icons icon">sports_esports</span>
                            <span>Safra Play</span>
                        </span>                        
                        <span class="mif-chevron-right icon-sidebar fg-gold-safra pr-4"></span>
                    </a>                     
                </li>                
                <li class="group-title fg-gold-safra">Conta Corrente</li>
                <li>
                    <a href="home" class="d-flex flex-align-center flex-justify-between" style="padding-left:36px;">
                        <span class="fg-blue-safra">                            
                            <span>Extrato unificado</span>
                        </span>                        
                        <span class="mif-chevron-right icon-sidebar fg-gold-safra pr-4"></span>
                    </a>
                </li>
                <li>
                    <a class="d-flex flex-align-center flex-justify-between" style="padding-left:36px;">
                        <span class="fg-blue-safra">                            
                            <span>Transferências</span>
                        </span>                        
                        <span class="mif-chevron-right icon-sidebar fg-gold-safra pr-4"></span>
                    </a>
                </li>
                <li>
                    <a class="d-flex flex-align-center flex-justify-between" style="padding-left:36px;">
                        <span class="fg-blue-safra">                            
                            <span>Cartões</span>
                        </span>                        
                        <span class="mif-chevron-right icon-sidebar fg-gold-safra pr-4"></span>
                    </a>
                </li>
                <li>
                    <a class="d-flex flex-align-center flex-justify-between" style="padding-left:36px;">
                        <span class="fg-blue-safra">                            
                            <span>Crédito</span>
                        </span>                        
                        <span class="mif-chevron-right icon-sidebar fg-gold-safra pr-4"></span>
                    </a>
                </li>
                <li>
                    <a class="d-flex flex-align-center flex-justify-between" style="padding-left:36px;">
                        <span class="fg-blue-safra">                            
                            <span>Seguros</span>
                        </span>                        
                        <span class="mif-chevron-right icon-sidebar fg-gold-safra pr-4"></span>
                    </a>
                </li>
                <li class="group-title fg-gold-safra">Investimentos</li>
                <li>
                    <a href="investiment" class="d-flex flex-align-center flex-justify-between" style="padding-left:36px;">
                        <span class="fg-blue-safra">                            
                            <span>Minha carteira</span>
                        </span>                        
                        <span class="mif-chevron-right icon-sidebar fg-gold-safra pr-4"></span>
                    </a>
                </li>
                <li>
                    <a class="d-flex flex-align-center flex-justify-between" style="padding-left:36px;">
                        <span class="fg-blue-safra">                            
                            <span>Recomendações</span>
                        </span>                        
                        <span class="mif-chevron-right icon-sidebar fg-gold-safra pr-4"></span>
                    </a>
                </li>
                <li>
                    <a class="d-flex flex-align-center flex-justify-between" style="padding-left:36px;">
                        <span class="fg-blue-safra">                            
                            <span>Gráficos e resultados</span>
                        </span>                        
                        <span class="mif-chevron-right icon-sidebar fg-gold-safra pr-4"></span>
                    </a>
                </li>
                <li>
                    <a class="d-flex flex-align-center flex-justify-between" style="padding-left:36px;">
                        <span class="fg-blue-safra">                            
                            <span>Morning call</span>
                        </span>                        
                        <span class="mif-chevron-right icon-sidebar fg-gold-safra pr-4"></span>
                    </a>
                </li>                
            </ul>
        </aside>
        <div class="shifted-content h-100 p-ab">
            <div class="app-bar pos-fixed z-1 bg-white z-depth-4 d-flex flex-justify-between" data-role="appbar">
                <button class="app-bar-item c-pointer" id="sidebar-toggle-3">
                    <span class="mif-menu mif-2x" style="color:#d4ad68"></span>
                </button>
                <div class="d-flex flex-justify-end">       
        
                    <div href="#" class="brand no-hover fg-gray">
                        <i class="material-icons c-pointer" data-role="hint" data-hint-position="bottom" data-hint-text="Selo do investidor">verified</i>
                    </div>
                    <div class="dropdown-button place-right">            
                        <a href="#" class="brand bg-light-hover before-bd-black dropdown-toggle">
                            <img name="user-picture" src="http://127.0.0.1/safra-open/assets/mark2.jpg" width="44px" height="44px" class="avatar" style="border-radius: 50%;">
                        </a>
                        <span class="d-menu place-right" data-role="dropdown">
                            <div class="social-box bg-white" style="width:100px">                                
                                <ul class="skills pt-0">
                                    
                                    <li class="d-flex flex-align-center flex-justify-center" style="height: 48px" onclick="logOut()">
                                        <div class="">Sair</div>
                                    </li>
                                </ul>                    
                                
                            </div>
                        </span>
                    </div>
                </div>
            </div>

            <div class="h-100 p-4 bg-white">                
                <div class="grid">
                    <div class="row">
                        <div class="cell-sm-12 cell-lg-4">
                            <p class="remark m-0 d-flex flex-justify-between flex-align-center" style="border-color:#D4AD68;border-radius:4px;">                                
                                <img src="https://www.safra.com.br/lumis-theme/br/com/bancosafra/safranet/theme/safranet/assets/img/logo-safra.svg" height="22.5">
                                <span class="d-flex flex-align-center">
                                    <span class="d-flex flex-column text-small fg-safra-blue pr-4">
                                        <span>Conta: <b name="account-balance" data-bank="BancoSafra">R$0,00</b><b name="ocult-balance" style="display:none">R$ -</b></span>
                                        <span>Investido: <b name="invest-balance" data-bank="BancoSafra">R$0,00</b><b name="ocult-balance" style="display:none">R$ -</b></span>                                
                                    </span>
                                    <span name="icon-balance"  class="material-icons c-pointer" onClick="toggleBalance(this)">visibility</span>                                    
                                </span>
                            </p>
                        </div>
                        <div class="cell-sm-12 cell-lg-4">
                            <p class="remark m-0 d-flex flex-justify-between flex-align-center" style="border-color:#ee7400;border-radius:4px;">                                
                                <img src="https://raw.githubusercontent.com/reisricardo/static/master/player_i.svg" height="22.5">
                                <span class="d-flex flex-align-center">
                                    <span class="d-flex flex-column text-small fg-safra-blue pr-4">
                                        <span>Conta: <b name="account-balance" data-bank="BancoPlayerI">R$0,00</b><b name="ocult-balance" style="display:none">R$ -</b></span>
                                        <span>Investido: <b name="invest-balance" data-bank="BancoPlayerI">R$0,00</b><b name="ocult-balance" style="display:none">R$ -</b></span>                                
                                    </span>
                                    <span name="icon-balance"  class="material-icons c-pointer" onClick="toggleBalance(this)">visibility</span> 
                                </span>
                            </p>                            
                        </div>
                        <div class="cell-sm-12 cell-lg-4">
                            <p class="remark m-0 d-flex flex-justify-between flex-align-center" style="border-color:#ec0000;border-radius:4px;">                                
                                <img src="https://raw.githubusercontent.com/reisricardo/static/master/player_s.svg" height="22.5">
                                <span class="d-flex flex-align-center">
                                    <span class="d-flex flex-column text-small fg-safra-blue pr-4">
                                        <span>Conta: <b name="account-balance" data-bank="BancoPlayerS">R$0,00</b><b name="ocult-balance" style="display:none">R$ -</b></span>
                                        <span>Investido: <b name="invest-balance" data-bank="BancoPlayerS">R$0,00</b><b name="ocult-balance" style="display:none">R$ -</b></span>                                
                                    </span>
                                    <span name="icon-balance" class="material-icons c-pointer" onClick="toggleBalance(this)">visibility</span> 
                                </span>
                            </p>  
                        </div>
                    </div>                    
                </div>
                <h2 class="text-light d-flex">
                    <span>Extrato investimentos</span> 
                    <small id="synchronize-info" class="ml-8 d-flex flex-align-center fg-gold-safra">
                        <span class="mif-spinner3 ani-pulse mr-2"></span>
                        <span>sincronizando contas</span>
                    </small>
                </h2>
                <div class="grid">
                    <div class="row">
                        <div class="cell-sm-12 cell-lg-1">
                            <div id="export-panel"></div>
                        </div>
                        <div class="cell-sm-12 cell-lg-3 offset-lg-8">                            
                            <input id="field-search" type="text" data-role="materialinput" data-cls-component="z-0" data-cls-line="bg-gold-safra" data-cls-icon="fg-gold-safra" data-icon="<span class='mif-search'>" placeholder="Ex.: TED, DOC...">
                        </div>                        
                    </div>                    
                </div>
                <table id="extract-table" class="table striped">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:120px">Data</th>
                            <th class="text-center">Origem</th>
                            <th class="text-center" >Lançamentos</th>                        
                            <th class="text-center">Valor (R$)</th>                        
                        </tr>
                    </thead>
                    <tbody class="text-center"></tbody>
                </table>
               
            </div>
            <div class="p-4">
                <div class="grid">
                    <div class="row">
                        <div class="cell-sm-12 cell-lg-4">
                            <div class="card border-none" style="box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);border-radius: 4px;">                                
                                <div class="card-content p-4 d-flex flex-column">
                                    <div class="fg-gold-safra h5">Fundo Galileu Special</div>
                                    <div class="fg-blue-safra text-small mt-2">8,11% de rentabilidade acumulada nos últimos 12 meses.</div>
                                    <div class="d-flex flex-justify-end w-100 mt-2">
                                        <a href="#" class="fg-blue-safra text-small ">Investir</a>
                                    </div>                                    
                                </div>                                
                            </div>
                        </div>
                        <div class="cell-sm-12 cell-lg-4">
                            <div class="card border-none" style="box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);border-radius: 4px;">                                
                                <div class="card-content p-4 d-flex flex-column">
                                    <div class="fg-gold-safra h5">Fundo Safra Inflation</div>
                                    <div class="fg-blue-safra text-small mt-2">7,09% de rentabilidade acumulada nos últimos 12 meses.</div>
                                    <div class="d-flex flex-justify-end w-100 mt-2">
                                        <a href="#" class="fg-blue-safra text-small ">Investir</a>
                                    </div>                                    
                                </div>                                 
                            </div>                        
                        </div>
                        <div class="cell-sm-12 cell-lg-4">
                            <div class="card border-none bg-gold-safra" style="box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);border-radius: 4px;">                                
                                <div class="card-content p-4 d-flex flex-column">
                                    <div class="fg-white h5">Safra Ações Livres</div>
                                    <div class="fg-blue-safra text-small mt-2">15,92% de rentabilidade acumulada nos últimos 12 meses.</div>
                                    <div class="d-flex flex-justify-end w-100 mt-2">
                                        <a href="#" class="fg-blue-safra text-small ">Investir</a>
                                    </div>                                    
                                </div>                                 
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="d-flex flex-justify-end flex-align-center p-4">
                <div class="pr-4">
                    <img src="https://raw.githubusercontent.com/reisricardo/static/master/logo-safra-open.svg" height="22.5">                    
                </div>                
            </div>
        </div>

        <!-- Jquery -->    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

        <!-- Metro 4 Theme-->
        <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>

        <!-- Datatable -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/b-1.6.3/b-colvis-1.6.3/b-html5-1.6.3/b-print-1.6.3/r-2.2.5/datatables.min.js"></script>
        
        <!-- Moment -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment-with-locales.min.js" integrity="sha512-qSnlnyh7EcD3vTqRoSP4LYsy2yVuqqmnkM9tW4dWo6xvAoxuVXyM36qZK54fyCmHoY1iKi9FJAUZrlPqmGNXFw==" crossorigin="anonymous"></script>
        
        <!--<div class="overlay" style="background: rgba(0, 0, 0, 0.5);"></div>-->
    </body>
    <script>
        $(document).ready(function() {
            moment.locale('pt-br');
            synchronizeData()
            
        });
        function synchronizeData(){
            $.ajax({
                method: "GET",
                url: "{{api_url}}banks/all/clients/12345678901233/synchronize", 
                crossDomain: true,
                xhrFields: {
                    withCredentials: true
                },
                statusCode: {
                    200: function(response){
                        inicializeConsolidate()
                        inicializeExtract()                        
                    },                    
                    500: function(response){                        
                        let toast = Metro.toast.create;    
                        toast('Ocorreu um erro durante a sincronização dos dados', null, 5000, "alert");
                    }
                }
            });  
        }
        function inicializeConsolidate(){
            $.ajax({
                method: "GET",
                url: "{{api_url}}banks/all/clients/12345678901233/transactions/all/consolidate", 
                crossDomain: true,
                xhrFields: {
                    withCredentials: true
                },
                statusCode: {
                    200: function(response){
                        console.log(response)
                        for(i = 0; i < response.Data.length; i++){  
                            value = (response.Data[i].amount).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });                          
                            if(response.Data[i].operation == 'Invest'){                                
                                $("[data-bank='"+response.Data[i].aux_banks_code+"'][name='invest-balance']").html(response.Data[i].amount < 0 ? "<span class='fg-red'>"+value+"</span>" : "<span class='fg-lightOlive'>"+value+"</span>")
                            }else{
                                $("[data-bank='"+response.Data[i].aux_banks_code+"'][name='account-balance']").html(response.Data[i].amount < 0 ? "<span class='fg-red'>"+value+"</span>" : "<span class='fg-lightOlive'>"+value+"</span>")                            
                            }
                            
                        }

                    },                    
                    500: function(response){                        
                        let toast = Metro.toast.create;    
                        toast('Ocorreu um erro durante a consolidação dos dados', null, 5000, "alert");
                    }
                }
            });
        }
        function inicializeExtract(){
            let table = $("#extract-table").DataTable({
                ajax: {
                    url: '{{api_url}}banks/all/clients/12345678901233/transactions?mode=invest',
                    "dataSrc": function (data) {                                                    
                        return data.Data;
                    },
                    datatype: 'JSON',
                    crossDomain: true,
                    xhrFields: {
                        withCredentials: true
                    }
                },
                "language" : {
                    "sEmptyTable":   "Não foi encontrada nenhuma transação",
                    "sLoadingRecords": "A carregar...",
                    "sProcessing":   "A processar...",
                    "sLengthMenu":   "Mostrar _MENU_ registos",
                    "sZeroRecords":  "Não foi encontrada nenhuma transação",
                    "sInfo":         "Mostrando de _START_ até _END_ de _TOTAL_ registos",
                    "sInfoEmpty":    "Mostrando de 0 até 0 de 0 registos",
                    "sInfoFiltered": "(filtrado de _MAX_ registos no total)",
                    "sInfoPostFix":  "",
                    "sSearch":       "Procurar:",
                    "sUrl":          "",
                    "oPaginate": {
                        "sFirst":    "Primeiro",
                        "sPrevious": "Anterior",
                        "sNext":     "Seguinte",
                        "sLast":     "Último"
                    },
                    "oAria": {
                        "sSortAscending":  ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }                    
                },
                "processing": true,
                "autoWidth": false,
                "ordering": true,
                "responsive" : true,           
                pageLength: 10,                
                dom: '<"float-left"B>t',
                buttons: [{
                    extend: 'excel',
                    className: 'button small bg-transparent d-flex flex-align-center',
                    text: 'Salvar'
                },{
                    extend: 'print',
                    className: 'button small bg-transparent d-flex flex-align-center'
                }],
                order: [],
                "columns": [{                
                    "data": "date",
                    "orderable": false,
                    "render": function (data, type, row, meta) { 
                        
                        return moment(row.date).format('DD/MMM');                                                   
                    }              
                }, {
                    "data": "origin_image_path",
                    "orderable": false,
                    "render": function (data, type, row, meta) {
                        if(meta.row == 0){
                            value = ''
                        }else{
                            value = '<img src="'+ data +'" height="22.5">'
                        }  
                        return value                   
                                                             
                    }
                }, {
                    "data": "information",
                    "orderable": false,                    
                    "render": function (data, type, row, meta) { 
                        if(meta.row == 0){
                            value = '<span class="text-bold">' + data + '</span>'
                        }else{
                            value = '<span>' + data + '</span>'
                        }
                        return value                                                   
                    }
                }, {
                    "data": "sum_amount",
                    "orderable": false,
                    "render": function (data, type, row, meta) {
                        console.log(row.sum_amount)
                        if(row.sum_amount <= 0){
                            value = (row.sum_amount).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
                            text = '<span class="text-bold fg-red">'+ value +'</span>'
                        }else{
                            value = (row.sum_amount).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
                            text = '<span class="text-bold fg-lightOlive">+'+ value +'</span>'
                        }
                        return text                                                   
                    }
                }
            ],
                initComplete: function(data) {  
                    $('.dt-buttons').addClass('no-visible')              
                    inicializeButtons()
                    $('#synchronize-info').addClass('no-visible')
                    
                    //Modifica a aparência dos botões da tabela
                    //$('.buttons-csv').html('<span class="icon"><img src="{{ url_for("static", filename="icons/export_csv.svg")}}"></span><span class="caption">CSV</span>')
                    //$('.buttons-pdf').html('<span class="icon"><img src="{{ url_for("static", filename="icons/export_pdf.svg")}}"></span><span class="caption">PDF</span>')
                    
                    //showPreLoader(false)                
                }
            })

            

            $('#field-search').on('keyup', function() {
                table.search(this.value).draw();
            });
                                     
        }
        var account_balance = 0
        var invest_balance = 0
        function toggleBalance(el){    

            $("[name='icon-balance']").each(function( index ) {
                if($(this).text() == 'visibility'){
                    $(this).text('visibility_off')
                   
                    $("[name='account-balance']").toggle()
                    $("[name='invest-balance']").toggle()
                    $("[name='ocult-balance']").toggle()
                    
                }else{
                    $(this).text('visibility')
                    $("[name='account-balance']").toggle()
                    $("[name='invest-balance']").toggle()
                    $("[name='ocult-balance']").toggle()
                }
            });            
        }
        function inicializeButtons(){
            $('#fake-buttons').remove()
            $('.dt-buttons').addClass('d-flex') 
            $('.buttons-excel').html('<div class="fg-gold-safra material-icons">save</div><span class="fg-gold-safra pl-1">Salvar</span>')
            $('.buttons-print').html('<div class="fg-gold-safra material-icons">print</div><span class="fg-gold-safra pl-1">Imprimir</span>')
            $('.dt-buttons').removeClass('no-visible')
        }
        function logOut(){
            window.location.href = 'login'
        }
        function hiddenIconMenu(){
            $(".app-bar-item").addClass('no-visible');
        }
        function showIconMenu(){
            $(".app-bar-item").removeClass('no-visible');
        }
    </script>


</html>